.borde a{
    color: white;
    font-family: "Montagu Slab", Sans-serif; 
    font-size: 18px;
    margin-left: 10px;
    border: 1px solid transparent;
}
  
.borde a:hover {
    color: black; 
    border: 1px solid yellow;
    border-radius: 3px;
    background-color: yellow;
    text-decoration: none;
    transition: 0.1s;
}

.containerHeader {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}

.logo img {
    width: 170px;
}

.nuestrosProductos {
    background-color: #514e4e;
    position: relative;
}

.nuestrasPromociones {
    background-color:rgb(40, 123, 76) ;
    /*background-color: rgb(164, 230, 247);*/
    padding-bottom: 20px;
}

.titulo{
    /*text-shadow: 3px 3px 3px #706868;*/
    font-size: 40px;
    font-weight: bold;
}

.nuevosProductos {
    background-color: rgb(201, 166, 59);
    /*background-color: rgb(242, 210, 114);*/
    padding-bottom: 20px;
}

header {
    background-image: url('img/fondo2.jpg');
    background-size: cover;
    background-position: center;
}

footer{
    margin-top: 0;
    padding-top: 0;
}