* {
    margin: 0;
    padding: 0;
}


.borde a {
    color: white;
    font-family: "Montagu Slab", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid transparent;
}

.borde a:hover {
    color: black;
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: yellow;
    text-decoration: none;
    transition: 0.1s;
}

.containerHeader {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}

.logo img {
    width: 170px;
}

.nuestrosProductos {
    background-color: #514e4e;
    position: relative;
}

.nuestrasPromociones {
    background-image: linear-gradient(#523B29, #997A56);
    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    /* Ajuste para eliminar margen inferior */
}

.nuevosProductos {
    background-image: linear-gradient(#997A56, #523B29);
    /*background-color: rgb(242, 210, 114);*/

}

header {
    background-image: url('img/fondo2.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}