#contacto {
    min-height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./img/fondoContacto.jpg") no-repeat center/cover;
    flex-wrap: wrap;
    padding-top: 55px;
    padding-bottom: 55px;
}

#contacto form {

    width: 90%;
    max-width: 670px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    flex-wrap: wrap;
}

#contacto form h2 {
    color: #fff;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

#contacto form input {
    width: 300px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

#contacto form input::placeholder {
    color: #fff;
}

#contacto form #apellido,
#contacto form #telefono {
    margin-left: 20px;
}

#contacto form h5 {
    color: #fff;
    font-weight: 300;
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

#contacto form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-width: 90%;
    max-width: 95%;
    resize: none;
}

#contacto form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    width: 200px;
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

#contacto form #button:hover {
    background: #000;
    color: #fff;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 700px) {

    #contacto form #apellido,
    #contacto form #telefono {
        margin-left: 0;
    }
}