*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#containerLogin{
    min-height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/promocionesFondo.jpg") no-repeat center/cover;
    flex-wrap: wrap;
}

.login 
{
    text-align: center;
    margin: 20px auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    border-radius:5px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
}

.login label
{
    color: white;
    background: none;
    border: none;
    padding-left: 6px;
    text-align: start;
    display: flex;
}

.login h2 
{
    color: white;
    font-size: 2em;
    margin-bottom: 30px;
}

.login .frmLogin input
{
    color: white;
    background: none;
    border: none;
    display: block;
    /* padding: 10px 40px; */
    margin: 5px;
    outline: none;
}

.login .frmLogin input::placeholder{
    color: white;
}

.login .frmLogin input[type = 'text'],
.login .frmLogin input[type = 'email'],
.login .frmLogin input[type = 'password'],
.login .frmLogin input[type = 'number'], /* linea nueva*/
.login .frmLogin input[type = 'date'] /* linea nueva*/
{
    color: white;
    background: none;
    border: none;
    width: 100%;
    padding: 15px;
    height: 15px;
    border-bottom: 20px;
    border-radius: 3px;
    border: 1px solid;
    font-size: 16px;
}

.login .frmLogin input[type = 'email']:focus,
.login .frmLogin input[type = 'password']:focus
{
    border: 2px solid black;
}

.login .frmLogin .btn
{
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* padding: 10px 40px; */
    margin: 0 auto;
    background: none;
    margin-top: 20px;
}

.login .frmLogin .btn input
{
    margin-top: 18px;
    padding: 7px 7px;
    border: none ;
    border-radius: 10px;
    background-color: black;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 2px 2px 18px rgba(0, 0, 0,0.5);

}
.login .frmLogin .btn input:hover
{
    background-color: rgb(223, 226, 8);
    color: black;
}

.frmRegistro{
    display: none;
}

@media (min-width: 720px)
{
    .login 
    {
        width: 600px;
    }
}