body
{
    background-color: green;
}



.barra h2 
{
    color: white;
    padding: 7px;
    padding-bottom: 7px;
}


.barra:hover
{
    width: 50%;
    height: 100% ;
    background-color: #4357ad;
}

 .menu
{
    width: 200px;
    list-style: none;
    padding: 0px;
    text-align: center;
    justify-content: center;
}


 .menu li a
{
    display: flex;
   text-decoration: none;
 
   color: #fff;
   padding: 15px;

}
.barra .menu li a:hover
{
    background-color: #4888D6;

}