
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body
{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

header
{
    background-color: #633500;
    
}

header .logo
{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.45em;
    text-align: center;
    color: white;
    
}



header .contenedor
{
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-bottom: 25px;
}

header nav
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

nav .Menu
{
    list-style: none;
}

.Menu li a
{
   text-decoration:  none;
   color:  white;
   padding: 5px 12px;
   display:  block;
   font-weight: bold;
}

.Menu li a:hover
{
    color:  rgb(139, 133, 133);
}

.principal 
{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient( 0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    , url('../img/Productos/alfajores.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn-SaberMas
{
    margin-top: 18px;
    padding: 10px 20px;
    border: none ;
    border-radius: 10px;
    background-color: black;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 2px 2px 18px rgba(0, 0, 0,0.5);
}
.btn-SaberMas:hover
{
    background-color: #ffc127;
}

.contenedor
{
    max-width: 1400px;
    margin: auto;
}

footer 
{
   
    background-color: darkcyan;
    
}

footer .renglones
{
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
    position: relative;
}

footer .contenedor
{
    display: flex;
    justify-content: center;
}

footer ul
{
    list-style: none;
}

footer .renglones div
{
    width: 50px;
    
    padding-bottom: 20px;
}



footer .links h4 
{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-bottom: 25px;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

footer .links ul li a
{
    text-decoration: none;
    font-size: 18px;
    color: #bbbbbb;
    margin-bottom: 15px;
    cursor: pointer;
}

footer .links ul li a:hover
{
    color: #ffc127;
}
    
.social-link a 
{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 200px;
    color: #ffffff;
    
}


.social-link a:hover    
{
    
    background-color: black;
}


footer .derechos
{
    display: flex;
    top: 0;
    justify-content: flex-end;
}



header .login a 
{
    
    display: inline-flex;
    text-align: left;
    justify-content: left;
    text-decoration: none;
    
}





@media (min-width: 720px)
{
    header .contenedor
    {
        
        justify-content: center;
    }

    header
    {
        
        height: 110px;
        
    }

    header .logo
    {
        margin: 0;
        padding: 10px 30px;
       font-weight: bold;
       color: white;
       text-align: center;
       
    }

    header nav 
    {
        flex-direction: row;
        padding-bottom: 0;
        text-align: center;
        justify-content: center;
        padding-right: 20px;
    }

    .Menu li
    {
        display: inline-flex;
    }

    footer .renglon
    {
        flex-flow: row wrap;
    }

    




}